.img-fluid {
    max-height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-card {
    height: 250px;
}

.bottom-card {
    height: 200px;
}

.feature-section {
    height: 100px;
    overflow-y: scroll;
}

.row {
    padding-top: 7px;
}